body {
    background-color: #fff5e6;
}

h1 {
    color:         #807059;
    font-family:   Gill Sans, sans-serif;
    font-weight:   normal;
    margin-bottom: 0px;
}

h2 {
    color:         #807059;
    font-family:   Gill Sans, sans-serif;
    font-weight:   normal;
    margin-bottom: 0.3em;
}

h3 {
    color:       #807059;
    font-family: Gill Sans, sans-serif;
    font-weight: normal;
    margin-bottom: 0.2em;
}

ol, p, ul {
    margin: 0.5em 0;
}

a:link {
    color: #596380;
}

a:visited {
    color: #394360;
}

#masthead h2 {
    color:       #807059;
    font-family: Gill Sans, sans-serif;
    font-weight: normal;
    margin-top:  0px;
    margin-left: 6px;
}

#masthead a {
    color:           #807059;
    text-decoration: none;
}

#navigation_bar_horizontal {
    float:        left;
    font-family:  Gill Sans, sans-serif;
    font-size:    11pt;
    margin-left:  6px;
    margin-right: 12px;
}

#navigation_bar_vertical {
    float:        left;
    font-family:  Gill Sans, sans-serif;
    margin-left:  6px;
    margin-right: 12px;
    padding-top:  1em;
}

#search {
    float: left;
}

#photo_bar {
    height:      190px;
    width:       70%;
    overflow:    auto;
    white-space: nowrap;
}

.photo_bar_slot {
    padding: 0;
}

#body_text {
    margin: 0 5%;
}

#menu {
    background-color: #ffc;
    clear: both;
    margin: auto;
    padding: 2px;
    width: 85%;
}

#menu:after {
    clear: both;
    content: ".";
    display: block;
    line-height: 1px;
    font-size: 1px;
}

.menu_item {
    float: left;
    text-align: center;
    width: 19%;
}

.menu_item a:link {
    text-decoration: none;
}

.error {
    color: #f00;
    font-size: larger;
    font-weight: bold;
}

#deadline {
    color: #c00;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.form_instructions {
    font-size: smaller;
    text-align: center;
}

#masthead_bottom {
    clear: both;
}

#body_text {
    margin: 0 5%;
    text-align: left;
}

#cup_left {
    float: left;
    margin-bottom: 10px;
    text-align: center;
    width: 23%;
}

#title {
    float: left;
    font-family: Cooper Black, serif;
    font-size: 18pt;
    padding: 10pt;
    text-align: center;
    width: 50%;
}

#title a {
    color: #000;
    text-decoration: none;
}

#title_wrap {
    white-space: pre;
}

#cup_right {
    float: left;
    text-align: center;
    width: 23%;
}

#announcement_box {
    margin: 20px auto;
    padding: 0px;
    width: 600px;
}

.announcement {
    border: 1px dashed black;
    font-family: Cooper Black, sans-serif;
    font-size: 130%;
    margin: 0px auto;
    padding: 15px;
    text-align: center;
}

.indent {
    margin-left: 3%;
}

.time {
    text-align: right;
}

caption {
    margin-top: 1%;
    text-align: left;
    text-decoration: underline;
}

#invite_body {
}

#top_ten {
    background-color: #cfd4e6;
    float: right;
    margin: 2%;
    padding: 0 2% 2% 2%;
    width: 30%;
}

#top_ten li {
    margin-bottom: 2%;
}

.address {
    margin-left: 5%;
    white-space: pre;
}

#categories {
    font-family: Gill Sans, sans-serif;
}

#categories table {
    border-collapse: collapse;
}

#categories th {
    background-color: #eff4ff;
    font-weight:      normal;
    text-align:       left;
}

#categories td {
    background-color: #cfd4e6;
}

table.view {
    border: 1px solid #666;
}

table.view tr td {
    font-size: 8pt;
    padding: 3px 8px;
    background: #fff;
}

table.view thead td {
    color: #fff;
    background-color: #c9c;
    font-weight: bold;
    border-bottom: 1px solid #999;
}

table.view tbody td {
    border-left: 1px solid #999;
}

table.view tbody tr.even td {
    background: #eee;
}

table.view tbody tr.selected td {
    background: #39c;
    color: #ffffff;
    font-weight: bold;
    border-left: 1px solid #36c;
    border-bottom: 1px solid #69c;
}

table.view tbody tr.ruled td {
    color: #000;
    background-color: #ccf; 
    font-weight: bold;
    border-color: #39f;
}

.view_judge th {
    text-align:     right;
    vertical-align: top;
}

#map {
    font-family: Gill Sans, sans-serif;
    font-size:   smaller;
    text-align:  center;
}

.address {
    border:      0px;
    float:       left;
    padding:     0.5em 0em 0.75em 0em;
    white-space: pre-line;
}

#contact_list h3, div#contact_list {
    clear: both;
}
