[% BLOCK assignment_column ~%]
   <td>
   [% IF assignments.$session == flight.number ~%]
      [% PROCESS assignment_checkbox checkbox_name = 'unassign' ~%]
   [% ELSIF assignments.$session ~%]
      [% PROCESS assignment_link ~%]
   [% END ~%]
   </td>
[% END ~%]

