[% BLOCK assignment_column ~%]
   <td>
   [% IF assignments.$flight == category.number ~%]
      [% PROCESS assignment_checkbox checkbox_name = 'unassign' ~%]
   [% ELSIF assignments.$flight ~%]
      [% PROCESS assignment_link ~%]
   [% END ~%]
   </td>
[% END ~%]

