[% USE Date ~%]

[% PROCESS html.tt -%]
[% PROCESS header.html title = "Brewers$apostrophe Cup Registration Closed" -%]
[% PROCESS navbar.html -%]
<p>
[% now = Date.now -%]
[% year = Date.format( now, '%Y' ) -%]
[% IF Date.format( now, '%m' ) < 7 ~%]
   Volunteer registration has not yet opened for Brewers[% apostrophe %] Cup
   [% year %].  Please check back soon to register!
[% ELSE ~%]
  Volunteer registration has closed for Brewers[% apostrophe %] Cup
  [% year %].  Please come back and register next year!
[% END ~%]
</p>
[% PROCESS "footer.html" -%]
