[% USE date -%]
[% PROCESS html.tt -%]
[% judge_name = "$volunteer_row.first_name $volunteer_row.last_name" | html -%]
[% PROCESS header title = judge_name -%]
[% PROCESS manage_navbar ~%]

[% WRAPPER body_text ~%]
   [% WRAPPER heading ~%]
      [% judge_name ~%]
   [% END %]
   [% PROCESS view_judge.tt ~%]

   [% judge.individual ~%]

   [% PROCESS footer ~%]
[% END ~%]
