[% PROCESS "${type}.tt" ~%]

[% PROCESS header title = "Mailing List" -%]
[% PROCESS manage_navbar -%]
[% WRAPPER body_text ~%]
   [% WRAPPER heading %]Mailing List[% END %]
   [%- IF error ~%]
      [% WRAPPER error_message; error.message; END ~%]
   [% END ~%]
   [% WRAPPER list ~%]
      [% WHILE ( row = fetch_email() ) ~%]
         [% WRAPPER list_item; row.email | html; END ~%]
      [% END ~%]
   [% END ~%]
[% END ~%]
[% PROCESS footer -%]
