<div id="navigation_bar_horizontal">
[% FOREACH uri IN [ '', 'judge', 'steward', 'volunteer', 'flight', 'register' ] ~%]
   [% USE String uri ~%]
   [% desc = String.capital _ 's'; key = uri.substr(0, 1) ~%]
   [% IF !uri; desc = 'Home'; key = 'h'; END ~%]
   [% IF uri == 'volunteer'; desc = 'All ' _ desc; END ~%]
   [% IF uri == 'register'; desc = 'Register'; END ~%]
   [% IF uri %]| [% END ~%]
   [% IF page != uri ~%]
      <a accesskey="[% key %]" href="[% IF uri %]/manage[% END %]/[% uri %]">
   [%~ END ~%]
   [% desc ~%]
   [% IF page != uri ~%]
      </a>
   [%~ END %]
[% END ~%]
</div>
<div style="clear: both"></div>
