<div id="navigation_bar_horizontal">
[% FOREACH uri IN [ '', 'enter', 'volunteer', 'maps', 'results',
                    'contacts' ] ~%]
   [% USE String uri ~%]
   [% desc = String.capital; key = uri.substr(0, 1) ~%]
   [% IF !uri; desc = 'Home'; key = 'h'; END ~%]
   [% IF uri == 'volunteer'; desc = 'Judge/Steward'; END ~%]
   [% IF uri %]| [% END ~%]
   [% IF page != uri ~%]
      <a accesskey="[% key %]" href="/[% uri %]">
   [%~ END ~%]
   [% desc ~%]
   [% IF page != uri ~%]
      </a>
   [%~ END %]
[% END ~%]
</div>
[% PROCESS searchbox.html -%]
