[% BLOCK assignment_column ~%]
   <td>
   [% IF assignments.$session ~%]
      [% PROCESS assignment_link ~%]
   [% ELSE ~%]
      [% PROCESS assignment_checkbox checkbox_name = 'assign' ~%]
   [% END ~%]
   </td>
[% END ~%]

